*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 100vh;
    align-items: center;
}

#menuBar {
    position: sticky;
    top: 0;
    height: 60px;
    width: 1000px;
    max-width: 1000px;
    min-width: 500px;
    background-color: burlywood;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#menuIconContainer {
    width: 20%;
    height: 100%;
    background-color: brown;
}

#menuButtonContainer {
    width: 80%;
    height: 100%;
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.menuButton {
    background-color: pink;
    width: 100px;
    height: 50px;
    margin-right: 20px;
}

#flexContainer {
    height: 100vh;
    width: 100%;
    background-color: blue;
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: stretch;
    justify-content: center;
}

#leftPad {
    background-color: aqua;
    min-height: 100%;
    height: auto;
    min-width: 200px;
    flex-grow: 1;
}

#centreContent {
    background-color: greenyellow;
    width: 1000px;
    max-width: 1000px;
    min-height: 100%;
    height: auto;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

#rightPad {
    background-color: aqua;
    min-height: 100%;
    height: auto;
    min-width: 200px;
    flex-grow: 1;
}

.menuItem {
    padding: 10px;
    margin: 10px;
    width: 90%;
    min-width: 800px;
    height: 50px;
    min-height: 50px;
    background-color: brown;
}

.menuCategory {
    padding: 10px;
    margin: 10px;
    width: 90%;
    min-width: 800px;
    height: 50px;
    min-height: 50px;
    background-color: goldenrod;
}

.aboutDiv {
    padding: 10px;
    margin: 10px;
    width: 90%;
    min-width: 800px;
    height: 450px;
    min-height: 50px;
    background-color: brown;
}

.hoursDiv {
    padding: 10px;
    margin: 10px;
    width: 90%;
    min-width: 800px;
    height: 350px;
    min-height: 50px;
    background-color: brown;
}